In [99]:
#Write a Pandas program to create and display a DataFrame from the following dictionary data which has index labels.
# 1. Print the three first rows using head() method
# 2. Delete rows with Nan values
# 3. Extract the 'name' and 'score' columns from the DataFrame.
# 4. Write a Pandas program to append a new row 'k' to data frame with these values(name : "Suresh", score: 15.5, attempts: 1, qualify: "yes")
# 5. Write a Pandas program to delete the 'attempts' column from the DataFrame.
# 6. Add a new column "Success" : if the score is higher than 10 we will have 1 else we will have 0
# 7. After executing the final dataframe, export it into csv file named "my_data"

import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

df2 = pd.DataFrame({
    'name': ["suresh"],
    'score': [15.5],
    'attempts': [1],
    'qualify': ["yes"]}, index=['k'])

df = pd.DataFrame(exam_data, index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
print('\nShowing the DataFrame')
print(df)

print('\n1. Showing the first 3 rows')
newdf1 = print(df.head(3))

print('\n2. Deleting rows with Nan values')
newdf2 = print(df.dropna())

print('\n3. Extracting the name and score columnns')
newdf3 = print(df[['name','score']])

print('\n4. Appending new row k')
newdf4 = print(df.append(df2))
#newdf4 = print(pd.concat([df,df2])) an alternative method of concatenation

print('\n5. Deleting the attempts column')
newdf5 = print(df.drop("attempts", axis = 'columns'))

print('\n6. Adding the new column success')
#s1 = pd.Series(['X0', 'X1', 'X2', 'X3'], name='success')
#newdf6 = print(pd.concat([df, s1], axis=1))
newdf6 = pd.DataFrame(df.dropna())
newdf6.loc[newdf6['score'] > 10, 'success'] = '1' 
newdf6.loc[newdf6['score'] < 10, 'success'] = '0'
print(newdf6)

Showing the DataFrame
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

1. Showing the first 3 rows
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

2. Deleting rows with Nan values
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

3. Extracting the name and score columnns
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

4. Appending new row k
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     suresh   15.5         1     yes

5. Deleting the attempts column
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

6. Adding the new column success
        name  score  attempts qualify success
a  Anastasia   12.5         1     yes       1
b       Dima    9.0         3      no       0
c  Katherine   16.5         2     yes       1
e      Emily    9.0         2      no       0
f    Michael   20.0         3     yes       1
g    Matthew   14.5         1     yes       1
i      Kevin    8.0         2      no       0
j      Jonas   19.0         1     yes       1

In [104]:
#Write a Pandas program to create and display a DataFrame from the following dictionary data which has index labels.
# 1. Print the three first rows using head() method
# 2. Delete rows with Nan values
# 3. Extract the 'name' and 'score' columns from the DataFrame.
# 4. Write a Pandas program to append a new row 'k' to data frame with these values(name : "Suresh", score: 15.5, attempts: 1, qualify: "yes")
# 5. Write a Pandas program to delete the 'attempts' column from the DataFrame.
# 6. Add a new column "Success" : if the score is higher than 10 we will have 1 else we will have 0
# 7. After executing the final dataframe, export it into csv file named "my_data"
# Note: This is an alternative approach to understanding the question


import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

df2 = pd.DataFrame({
    'name': ["suresh"],
    'score': [15.5],
    'attempts': [1],
    'qualify': ["yes"]}, index=['k'])

df = pd.DataFrame(exam_data, index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
print('\nShowing the DataFrame')
print(df)

print('\n1. Showing the first 3 rows')
newdf1 = print(df.head(3))

print('\n2. Deleting rows with Nan values')
newdf2 = print(df.dropna())

print('\n3. Extracting the name and score columnns')
newdf3 = print(df[['name','score']])

print('\n4. Appending new row k')
newdf4 = pd.DataFrame(df.append(df2))
print(newdf4)
#newdf4 = print(pd.concat([df,df2])) an alternative method of concatenation

print('\n5. Deleting the attempts column')
newdf5 = pd.DataFrame(newdf4.drop("attempts", axis = 'columns'))
print(newdf5)

print('\n6. Adding the new column success')
#s1 = pd.Series(['X0', 'X1', 'X2', 'X3'], name='success')
#newdf6 = print(pd.concat([df, s1], axis=1))
newdf6 = pd.DataFrame(newdf5.dropna())
newdf6.loc[newdf6['score'] > 10, 'success'] = '1' 
newdf6.loc[newdf6['score'] < 10, 'success'] = '0'
print(newdf6)

newdf6.to_csv(r'C:\Users\owner\Documents\Python\GOMYCODE checkpoints\my_data.csv')

Showing the DataFrame
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

1. Showing the first 3 rows
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

2. Deleting rows with Nan values
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

3. Extracting the name and score columnns
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

4. Appending new row k
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     suresh   15.5         1     yes

5. Deleting the attempts column
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes
k     suresh   15.5     yes

6. Adding the new column success
        name  score qualify success
a  Anastasia   12.5     yes       1
b       Dima    9.0      no       0
c  Katherine   16.5     yes       1
e      Emily    9.0      no       0
f    Michael   20.0     yes       1
g    Matthew   14.5     yes       1
i      Kevin    8.0      no       0
j      Jonas   19.0     yes       1
k     suresh   15.5     yes       1